extends ../layout
block content
  if user
    include _addImageForm
  else
    a.btn.btn-default.col-xs-offset-2(href='/login') Login to Add Images

    h2.text-center #{title}
    .row.pins
      each image in images
        .col-lg-3.col-md-4.col-sm-6.col-xs-12.pin
          a(href=`${image.url}`): img(src=`${image.url}`)
          p #{image.url}
          p #{image.caption}
          p #{image.owner.username}
          p
            if user
              a(href=`/images/${image.id}/like`) Like #{image.likes.length}
            else
             Likes #{image.likes.length}
